body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.banner-content {
    text-align: center;
}

.banner .logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.banner-text h1 {
    margin: 0;
    font-size: 2.5rem;
}

.banner-text h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 300;
}

.banner-text p {
    margin: 5px 0 0;
    font-size: 1rem;
    font-weight: 300;
}

.categorias {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.categorias button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.categorias button:hover {
    background-color: #0056b3;
}

/* Estilos para la disposici칩n del cat치logo */
.catalogo {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Por defecto, dos columnas */
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.producto {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.producto img:hover {
    transform: scale(1.05);
}

.titulo-producto {
    color: #333;
    font-size: 1.2rem;
    margin: 15px 0 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.titulo-producto:hover {
    color: #007BFF;
}

.producto p {
    color: #666;
    font-size: 0.9rem;
}

/* Estilo para el precio */
.precio {
    font-size: 1.5rem;
    font-weight: bold;
    color: red !important;
    margin-top: 10px;
}

/* Media queries para dispositivos peque침os */
@media (max-width: 768px) {
    .catalogo {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en dispositivos peque침os */
    }
}

/* Media queries para pantallas grandes */
@media (min-width: 769px) {
    .catalogo {
        grid-template-columns: repeat(3, 1fr); /* Cuatro columnas en pantallas grandes */
    }
}
